echo "Library/Bee/artifacts/Android/il2cppOutput/build/arm64-v8a/libil2cpp.dbg.so" >> .gitignore
echo "Library/Bee/artifacts/Android/iz17e/libil2cpp.so" >> .gitignore
echo "Library/PackageCache/com.unity.burst@1.8.11/.Runtime/libburst-llvm-15.dylib" >> .gitignore
echo "Library/" >> .gitignore
echo "Temp/" >> .gitignore
echo "Obj/" >> .gitignore
echo "Build/" >> .gitignore
echo "Builds/" >> .gitignore
echo "Logs/" >> .gitignore
